$primary: #0036A7;
$secondary: #333333;
$accent: #D62718;
$text-primary: #F0F2F5;
$text-secondary: darken($text-primary, 5%);

$white: #FFFFFF;
$light-grey-bg: #F8F9FA; // A very subtle light grey for sections
$dark-blue-bg: #001A33; // Slightly lighter than primary for hero background